* text=auto !eol
/COPYING -text
/ChangeLog -text
/Doxyfile -text
/INSTALL -text
/README -text
bin/plinker -text
/nullfxp.kdevelop -text
/nullfxp.pro -text
src/Makefile -text
src/ReadMe -text
src/aboutnullfxp.cpp -text
src/aboutnullfxp.h -text
src/aboutnullfxp.ui -text
src/atomicio.cpp -text
src/atomicio.h -text
src/bufaux.cpp -text
src/bufbn.cpp -text
src/buffer.cpp -text
src/buffer.h -text
src/config.h -text
src/defines.h -text
src/glob.cpp -text
src/glob.h -text
src/includes.h -text
src/localview.cpp -text
src/localview.h -text
src/localview.ui -text
src/log.h -text
src/main.cpp -text
src/misc.cpp -text
src/misc.h -text
src/nullfxp.cpp -text
src/nullfxp.h -text
src/nullfxp.ui -text
src/pathnames.h -text
src/progressdialog.cpp -text
src/progressdialog.h -text
src/progressdialog.ui -text
src/progressmeter.cpp -text
src/progressmeter.h -text
src/remotedirmodel.cpp -text
src/remotedirmodel.h -text
src/remotedirretrivethread.cpp -text
src/remotedirretrivethread.h -text
src/remotehostconnectingstatusdialog.cpp -text
src/remotehostconnectingstatusdialog.h -text
src/remotehostconnectingstatusdialog.ui -text
src/remotehostconnectthread.cpp -text
src/remotehostconnectthread.h -text
src/remotehostquickconnectfinfodailog.ui -text
src/remotehostquickconnectinfodialog.cpp -text
src/remotehostquickconnectinfodialog.h -text
src/remoteview.cpp -text
src/remoteview.h -text
src/remoteview.ui -text
src/sftp-client.cpp -text
src/sftp-client.h -text
src/sftp-common.cpp -text
src/sftp-common.h -text
src/sftp-glob.cpp -text
src/sftp-operation.h -text
src/sftp-wrapper.cpp -text
src/sftp-wrapper.h -text
src/sftp.cpp -text
src/sftp.h -text
src/src.pro -text
src/ssh.h -text
src/sys-queue.h -text
src/transferthread.cpp -text
src/transferthread.h -text
src/xmalloc.cpp -text
src/xmalloc.h -text
templates/cpp -text
templates/h -text
