* text=auto !eol
/CMakeLists.txt -text
/COPYING -text
/ChangeLog -text
/Doxyfile -text
/INSTALL -text
/README -text
/nullfxp.kdevelop -text
/nullfxp.pro -text
src/CMakeLists.txt -text
src/ReadMe -text
src/aboutnullfxp.cpp -text
src/aboutnullfxp.h -text
src/aboutnullfxp.ui -text
src/atomicio.cpp -text
src/atomicio.h -text
src/bufaux.cpp -text
src/bufbn.cpp -text
src/buffer.cpp -text
src/buffer.h -text
src/config.h -text
src/defines.h -text
src/dummy/dummy.pro -text
src/glob.cpp -text
src/glob.h -text
src/includes.h -text
src/libssh.h -text
src/localview.cpp -text
src/localview.h -text
src/localview.ui -text
src/log.h -text
src/main.cpp -text
src/misc.cpp -text
src/misc.h -text
src/nullfxp.cpp -text
src/nullfxp.h -text
src/nullfxp.ui -text
src/pathnames.h -text
src/plinker/CMakeLists.txt -text
src/plinker/Makefile.in -text
src/plinker/acss.c -text
src/plinker/acss.h -text
src/plinker/atomicio.c -text
src/plinker/atomicio.h -text
src/plinker/audit.h -text
src/plinker/auth-pam.h -text
src/plinker/auth.h -text
src/plinker/authfd.c -text
src/plinker/authfd.h -text
src/plinker/authfile.c -text
src/plinker/authfile.h -text
src/plinker/bufaux.c -text
src/plinker/bufbn.c -text
src/plinker/buffer.c -text
src/plinker/buffer.h -text
src/plinker/buildpkg.sh.in -text
src/plinker/canohost.c -text
src/plinker/canohost.h -text
src/plinker/channels.c -text
src/plinker/channels.h -text
src/plinker/cipher-3des1.c -text
src/plinker/cipher-acss.c -text
src/plinker/cipher-aes.c -text
src/plinker/cipher-bf1.c -text
src/plinker/cipher-ctr.c -text
src/plinker/cipher.c -text
src/plinker/cipher.h -text
src/plinker/cleanup.c -text
src/plinker/clientloop.c -text
src/plinker/clientloop.h -text
src/plinker/compat.c -text
src/plinker/compat.h -text
src/plinker/compress.c -text
src/plinker/compress.h -text
src/plinker/config.guess -text
src/plinker/config.h -text
src/plinker/config.h.in -text
src/plinker/config.sub -text
src/plinker/configure -text
src/plinker/crc32.c -text
src/plinker/crc32.h -text
src/plinker/deattack.c -text
src/plinker/deattack.h -text
src/plinker/defines.h -text
src/plinker/dh.c -text
src/plinker/dh.h -text
src/plinker/dispatch.c -text
src/plinker/dispatch.h -text
src/plinker/dns.c -text
src/plinker/dns.h -text
src/plinker/entropy.c -text
src/plinker/entropy.h -text
src/plinker/fatal.c -text
src/plinker/gss-genr.c -text
src/plinker/hostfile.c -text
src/plinker/hostfile.h -text
src/plinker/includes.h -text
src/plinker/install-sh -text
src/plinker/kex.c -text
src/plinker/kex.h -text
src/plinker/kexdh.c -text
src/plinker/kexdhc.c -text
src/plinker/kexgex.c -text
src/plinker/kexgexc.c -text
src/plinker/key.c -text
src/plinker/key.h -text
src/plinker/log.c -text
src/plinker/log.h -text
src/plinker/mac.c -text
src/plinker/mac.h -text
src/plinker/match.c -text
src/plinker/match.h -text
src/plinker/md-sha256.c -text
src/plinker/misc.c -text
src/plinker/misc.h -text
src/plinker/moduli -text
src/plinker/moduli.c -text
src/plinker/monitor.h -text
src/plinker/monitor_fdpass.c -text
src/plinker/monitor_fdpass.h -text
src/plinker/msg.c -text
src/plinker/msg.h -text
src/plinker/myproposal.h -text
src/plinker/nchan.c -text
src/plinker/openbsd-compat/CMakeLists.txt -text
src/plinker/openbsd-compat/Makefile.in -text
src/plinker/openbsd-compat/base64.c -text
src/plinker/openbsd-compat/base64.h -text
src/plinker/openbsd-compat/basename.c -text
src/plinker/openbsd-compat/bindresvport.c -text
src/plinker/openbsd-compat/bsd-arc4random.c -text
src/plinker/openbsd-compat/bsd-asprintf.c -text
src/plinker/openbsd-compat/bsd-closefrom.c -text
src/plinker/openbsd-compat/bsd-cray.c -text
src/plinker/openbsd-compat/bsd-cray.h -text
src/plinker/openbsd-compat/bsd-cygwin_util.c -text
src/plinker/openbsd-compat/bsd-cygwin_util.h -text
src/plinker/openbsd-compat/bsd-getpeereid.c -text
src/plinker/openbsd-compat/bsd-misc.c -text
src/plinker/openbsd-compat/bsd-misc.h -text
src/plinker/openbsd-compat/bsd-nextstep.c -text
src/plinker/openbsd-compat/bsd-nextstep.h -text
src/plinker/openbsd-compat/bsd-openpty.c -text
src/plinker/openbsd-compat/bsd-poll.c -text
src/plinker/openbsd-compat/bsd-poll.h -text
src/plinker/openbsd-compat/bsd-snprintf.c -text
src/plinker/openbsd-compat/bsd-waitpid.c -text
src/plinker/openbsd-compat/bsd-waitpid.h -text
src/plinker/openbsd-compat/daemon.c -text
src/plinker/openbsd-compat/dirname.c -text
src/plinker/openbsd-compat/fake-rfc2553.c -text
src/plinker/openbsd-compat/fake-rfc2553.h -text
src/plinker/openbsd-compat/getcwd.c -text
src/plinker/openbsd-compat/getgrouplist.c -text
src/plinker/openbsd-compat/getopt.c -text
src/plinker/openbsd-compat/getrrsetbyname.c -text
src/plinker/openbsd-compat/getrrsetbyname.h -text
src/plinker/openbsd-compat/glob.c -text
src/plinker/openbsd-compat/glob.h -text
src/plinker/openbsd-compat/inet_aton.c -text
src/plinker/openbsd-compat/inet_ntoa.c -text
src/plinker/openbsd-compat/inet_ntop.c -text
src/plinker/openbsd-compat/mktemp.c -text
src/plinker/openbsd-compat/openbsd-compat.h -text
src/plinker/openbsd-compat/openbsd-compat.pro -text
src/plinker/openbsd-compat/openssl-compat.c -text
src/plinker/openbsd-compat/openssl-compat.h -text
src/plinker/openbsd-compat/port-aix.c -text
src/plinker/openbsd-compat/port-aix.h -text
src/plinker/openbsd-compat/port-irix.c -text
src/plinker/openbsd-compat/port-irix.h -text
src/plinker/openbsd-compat/port-linux.c -text
src/plinker/openbsd-compat/port-linux.h -text
src/plinker/openbsd-compat/port-solaris.c -text
src/plinker/openbsd-compat/port-solaris.h -text
src/plinker/openbsd-compat/port-tun.c -text
src/plinker/openbsd-compat/port-tun.h -text
src/plinker/openbsd-compat/port-uw.c -text
src/plinker/openbsd-compat/port-uw.h -text
src/plinker/openbsd-compat/readpassphrase.c -text
src/plinker/openbsd-compat/readpassphrase.h -text
src/plinker/openbsd-compat/realpath.c -text
src/plinker/openbsd-compat/regress/Makefile.in -text
src/plinker/openbsd-compat/regress/closefromtest.c -text
src/plinker/openbsd-compat/regress/snprintftest.c -text
src/plinker/openbsd-compat/regress/strduptest.c -text
src/plinker/openbsd-compat/regress/strtonumtest.c -text
src/plinker/openbsd-compat/rresvport.c -text
src/plinker/openbsd-compat/setenv.c -text
src/plinker/openbsd-compat/setproctitle.c -text
src/plinker/openbsd-compat/sha2.c -text
src/plinker/openbsd-compat/sha2.h -text
src/plinker/openbsd-compat/sigact.c -text
src/plinker/openbsd-compat/sigact.h -text
src/plinker/openbsd-compat/strlcat.c -text
src/plinker/openbsd-compat/strlcpy.c -text
src/plinker/openbsd-compat/strmode.c -text
src/plinker/openbsd-compat/strsep.c -text
src/plinker/openbsd-compat/strtoll.c -text
src/plinker/openbsd-compat/strtonum.c -text
src/plinker/openbsd-compat/strtoul.c -text
src/plinker/openbsd-compat/sys-queue.h -text
src/plinker/openbsd-compat/sys-tree.h -text
src/plinker/openbsd-compat/vis.c -text
src/plinker/openbsd-compat/vis.h -text
src/plinker/openbsd-compat/xcrypt.c -text
src/plinker/openbsd-compat/xmmap.c -text
src/plinker/openssh.xml.in -text
src/plinker/opensshd.init.in -text
src/plinker/packet.c -text
src/plinker/packet.h -text
src/plinker/pathnames.h -text
src/plinker/platform.h -text
src/plinker/plinker.pro -text
src/plinker/progressmeter.c -text
src/plinker/progressmeter.h -text
src/plinker/readconf.c -text
src/plinker/readconf.h -text
src/plinker/readpass.c -text
src/plinker/rijndael.c -text
src/plinker/rijndael.h -text
src/plinker/rsa.c -text
src/plinker/rsa.h -text
src/plinker/scard-opensc.c -text
src/plinker/scard.c -text
src/plinker/scard.h -text
src/plinker/scard/Makefile.in -text
src/plinker/scard/Ssh.bin -text
src/plinker/scard/Ssh.bin.uu -text
src/plinker/scard/Ssh.java -text
src/plinker/ssh-dss.c -text
src/plinker/ssh-rsa.c -text
src/plinker/ssh.c -text
src/plinker/ssh.h -text
src/plinker/ssh1.h -text
src/plinker/ssh2.h -text
src/plinker/ssh_prng_cmds.in -text
src/plinker/sshconnect.c -text
src/plinker/sshconnect.h -text
src/plinker/sshconnect1.c -text
src/plinker/sshconnect2.c -text
src/plinker/sshpty.h -text
src/plinker/sshtty.c -text
src/plinker/survey.sh.in -text
src/plinker/ttymodes.c -text
src/plinker/ttymodes.h -text
src/plinker/uidswap.c -text
src/plinker/uidswap.h -text
src/plinker/umac.c -text
src/plinker/umac.h -text
src/plinker/uuencode.c -text
src/plinker/uuencode.h -text
src/plinker/version.h -text
src/plinker/xmalloc.c -text
src/plinker/xmalloc.h -text
src/progressdialog.cpp -text
src/progressdialog.h -text
src/progressdialog.ui -text
src/progressmeter.cpp -text
src/progressmeter.h -text
src/remotedirmodel.cpp -text
src/remotedirmodel.h -text
src/remotedirretrivethread.cpp -text
src/remotedirretrivethread.h -text
src/remotehostconnectingstatusdialog.cpp -text
src/remotehostconnectingstatusdialog.h -text
src/remotehostconnectingstatusdialog.ui -text
src/remotehostconnectthread.cpp -text
src/remotehostconnectthread.h -text
src/remotehostquickconnectfinfodailog.ui -text
src/remotehostquickconnectinfodialog.cpp -text
src/remotehostquickconnectinfodialog.h -text
src/remoteview.cpp -text
src/remoteview.h -text
src/remoteview.ui -text
src/sftp-client.cpp -text
src/sftp-client.h -text
src/sftp-common.cpp -text
src/sftp-common.h -text
src/sftp-glob.cpp -text
src/sftp-operation.h -text
src/sftp-wrapper.cpp -text
src/sftp-wrapper.h -text
src/sftp.cpp -text
src/sftp.h -text
src/src.pro -text
src/ssh.h -text
src/sys-queue.h -text
src/tmpmain.cpp -text
src/transferthread.cpp -text
src/transferthread.h -text
src/xmalloc.cpp -text
src/xmalloc.h -text
templates/cpp -text
templates/h -text
