* text=auto !eol
/AUTHORS -text
/CMakeLists.txt -text
/COPYING -text
/ChangeLog -text
/Doxyfile -text
/INSTALL -text
/README -text
bin/touch.exe -text
/nullfxp.kdevelop -text
/nullfxp.pro -text
packages/gentoo/net-ftp/nullfxp/nullfxp-1.5.2.ebuild -text
packages/gentoo/net-ftp/nullfxp/nullfxp-1.6.3.ebuild -text
packages/gentoo/nullfxp/Manifest -text
packages/gentoo/nullfxp/files/digest-nullfxp-1.5.2 -text
packages/gentoo/nullfxp/nullfxp-1.5.2.ebuild -text
packages/mkpkg.sh -text
packages/nullfxp -text
packages/opensuse_buildservice/nullfxp.spec -text
src/CMakeLists.txt -text
src/aboutnullfxp.cpp -text
src/aboutnullfxp.h -text
src/aboutnullfxp.ui -text
src/baserfsmodel.cpp -text
src/baserfsmodel.h -text
src/basestorage.cpp -text
src/basestorage.h -text
src/completelineeditdelegate.cpp -text
src/completelineeditdelegate.h -text
src/config_linux.h -text
src/config_win32_g++.h -text
src/config_win32_msvc.h -text
src/connection.cpp -text
src/connection.h -text
src/encryptiondetaildialog.cpp -text
src/encryptiondetaildialog.h -text
src/encryptiondetailfocuslabel.cpp -text
src/encryptiondetailfocuslabel.h -text
src/fileexistaskdialog.cpp -text
src/fileexistaskdialog.h -text
src/fileproperties.cpp -text
src/fileproperties.h -text
src/fileproperties.ui -text
src/forwardconnectdaemon.cpp -text
src/forwardconnectdaemon.h -text
src/forwardconnectdaemon.ui -text
src/forwardconnectinfodialog.cpp -text
src/forwardconnectinfodialog.h -text
src/forwardconnectinfodialog.ui -text
src/forwarddebugwindow.cpp -text
src/forwarddebugwindow.h -text
src/forwarddebugwindow.ui -text
src/get_ver.c -text
src/globaloption.cpp -text
src/globaloption.h -text
src/globaloptionsdialog.cpp -text
src/globaloptionsdialog.h -text
src/globaloptionsdialog.ui -text
src/icons/computer.png -text
src/icons/document-encrypt.png -text
src/icons/document-properties.png -text
src/icons/edit-copy.png -text
src/icons/edit-cut.png -text
src/icons/edit-delete.png -text
src/icons/edit-paste.png -text
src/icons/folder-new.png -text
src/icons/help-contents.png -text
src/icons/nullget-1.png -text
src/icons/nullget-2.png -text
src/libssh2/CMakeLists.txt -text
src/libssh2/COPYING -text
src/libssh2/Makefile.am -text
src/libssh2/Makefile.in -text
src/libssh2/NMakefile -text
src/libssh2/buildconf -text
src/libssh2/config.guess -text
src/libssh2/config.rpath -text
src/libssh2/config.sub -text
src/libssh2/configure -text
src/libssh2/configure.in -text
src/libssh2/depcomp -text
src/libssh2/docs/Makefile.am -text
src/libssh2/docs/Makefile.in -text
src/libssh2/docs/libssh2_banner_set.3 -text
src/libssh2/docs/libssh2_base64_decode.3 -text
src/libssh2/docs/libssh2_channel_close.3 -text
src/libssh2/docs/libssh2_channel_direct_tcpip_ex.3 -text
src/libssh2/docs/libssh2_channel_eof.3 -text
src/libssh2/docs/libssh2_channel_flush_ex.3 -text
src/libssh2/docs/libssh2_channel_forward_accept.3 -text
src/libssh2/docs/libssh2_channel_forward_cancel.3 -text
src/libssh2/docs/libssh2_channel_forward_listen_ex.3 -text
src/libssh2/docs/libssh2_channel_free.3 -text
src/libssh2/docs/libssh2_channel_get_exit_status.3 -text
src/libssh2/docs/libssh2_channel_handle_extended_data.3 -text
src/libssh2/docs/libssh2_channel_handle_extended_data2.3 -text
src/libssh2/docs/libssh2_channel_open_ex.3 -text
src/libssh2/docs/libssh2_channel_process_startup.3 -text
src/libssh2/docs/libssh2_channel_read_ex.3 -text
src/libssh2/docs/libssh2_channel_receive_window_adjust.3 -text
src/libssh2/docs/libssh2_channel_receive_window_adjust2.3 -text
src/libssh2/docs/libssh2_channel_request_pty_ex.3 -text
src/libssh2/docs/libssh2_channel_request_pty_size_ex.3 -text
src/libssh2/docs/libssh2_channel_send_eof.3 -text
src/libssh2/docs/libssh2_channel_set_blocking.3 -text
src/libssh2/docs/libssh2_channel_setenv_ex.3 -text
src/libssh2/docs/libssh2_channel_wait_closed.3 -text
src/libssh2/docs/libssh2_channel_wait_eof.3 -text
src/libssh2/docs/libssh2_channel_window_read_ex.3 -text
src/libssh2/docs/libssh2_channel_window_write_ex.3 -text
src/libssh2/docs/libssh2_channel_write_ex.3 -text
src/libssh2/docs/libssh2_channel_x11_req_ex.3 -text
src/libssh2/docs/libssh2_free_host_entry.3 -text
src/libssh2/docs/libssh2_host_entry_match.3 -text
src/libssh2/docs/libssh2_hostkey_hash.3 -text
src/libssh2/docs/libssh2_new_host_entry.3 -text
src/libssh2/docs/libssh2_poll.3 -text
src/libssh2/docs/libssh2_poll_channel_read.3 -text
src/libssh2/docs/libssh2_publickey_add_ex.3 -text
src/libssh2/docs/libssh2_publickey_init.3 -text
src/libssh2/docs/libssh2_publickey_list_fetch.3 -text
src/libssh2/docs/libssh2_publickey_list_free.3 -text
src/libssh2/docs/libssh2_publickey_remove_ex.3 -text
src/libssh2/docs/libssh2_publickey_shutdown.3 -text
src/libssh2/docs/libssh2_scp_recv.3 -text
src/libssh2/docs/libssh2_scp_send_ex.3 -text
src/libssh2/docs/libssh2_session_abstract.3 -text
src/libssh2/docs/libssh2_session_block_directions.3 -text
src/libssh2/docs/libssh2_session_callback_set.3 -text
src/libssh2/docs/libssh2_session_disconnect_ex.3 -text
src/libssh2/docs/libssh2_session_flag.3 -text
src/libssh2/docs/libssh2_session_free.3 -text
src/libssh2/docs/libssh2_session_get_blocking.3 -text
src/libssh2/docs/libssh2_session_init.3 -text
src/libssh2/docs/libssh2_session_init_ex.3 -text
src/libssh2/docs/libssh2_session_last_errno.3 -text
src/libssh2/docs/libssh2_session_last_error.3 -text
src/libssh2/docs/libssh2_session_method_pref.3 -text
src/libssh2/docs/libssh2_session_methods.3 -text
src/libssh2/docs/libssh2_session_set_blocking.3 -text
src/libssh2/docs/libssh2_session_startup.3 -text
src/libssh2/docs/libssh2_sftp_close_handle.3 -text
src/libssh2/docs/libssh2_sftp_fstat_ex.3 -text
src/libssh2/docs/libssh2_sftp_init.3 -text
src/libssh2/docs/libssh2_sftp_last_error.3 -text
src/libssh2/docs/libssh2_sftp_mkdir_ex.3 -text
src/libssh2/docs/libssh2_sftp_open_ex.3 -text
src/libssh2/docs/libssh2_sftp_read.3 -text
src/libssh2/docs/libssh2_sftp_readdir.3 -text
src/libssh2/docs/libssh2_sftp_readdir_ex.3 -text
src/libssh2/docs/libssh2_sftp_rename_ex.3 -text
src/libssh2/docs/libssh2_sftp_rmdir_ex.3 -text
src/libssh2/docs/libssh2_sftp_seek.3 -text
src/libssh2/docs/libssh2_sftp_shutdown.3 -text
src/libssh2/docs/libssh2_sftp_stat_ex.3 -text
src/libssh2/docs/libssh2_sftp_symlink_ex.3 -text
src/libssh2/docs/libssh2_sftp_tell.3 -text
src/libssh2/docs/libssh2_sftp_tell64.3 -text
src/libssh2/docs/libssh2_sftp_unlink_ex.3 -text
src/libssh2/docs/libssh2_sftp_write.3 -text
src/libssh2/docs/libssh2_trace.3 -text
src/libssh2/docs/libssh2_userauth_authenticated.3 -text
src/libssh2/docs/libssh2_userauth_hostbased_fromfile_ex.3 -text
src/libssh2/docs/libssh2_userauth_keyboard_interactive_ex.3 -text
src/libssh2/docs/libssh2_userauth_list.3 -text
src/libssh2/docs/libssh2_userauth_password_ex.3 -text
src/libssh2/docs/libssh2_userauth_publickey_fromfile.3 -text
src/libssh2/docs/libssh2_userauth_publickey_fromfile_ex.3 -text
src/libssh2/docs/libssh2_version.3 -text
src/libssh2/docs/template.3 -text
src/libssh2/example/Makefile.am -text
src/libssh2/example/Makefile.in -text
src/libssh2/example/simple/Makefile.am -text
src/libssh2/example/simple/Makefile.in -text
src/libssh2/example/simple/scp.c -text
src/libssh2/example/simple/scp_nonblock.c -text
src/libssh2/example/simple/scp_write.c -text
src/libssh2/example/simple/scp_write_nonblock.c -text
src/libssh2/example/simple/sftp.c -text
src/libssh2/example/simple/sftp_RW_nonblock.c -text
src/libssh2/example/simple/sftp_mkdir.c -text
src/libssh2/example/simple/sftp_mkdir_nonblock.c -text
src/libssh2/example/simple/sftp_nonblock.c -text
src/libssh2/example/simple/sftp_write.c -text
src/libssh2/example/simple/sftp_write_nonblock.c -text
src/libssh2/example/simple/sftpdir.c -text
src/libssh2/example/simple/sftpdir_nonblock.c -text
src/libssh2/example/simple/ssh2.c -text
src/libssh2/example/simple/ssh2_exec.c -text
src/libssh2/get_ver.awk -text
src/libssh2/include/info.h -text
src/libssh2/include/libssh2.h -text
src/libssh2/include/libssh2_publickey.h -text
src/libssh2/include/libssh2_sftp.h -text
src/libssh2/install-sh -text
src/libssh2/libssh2.pro -text
src/libssh2/ltmain.sh -text
src/libssh2/maketgz -text
src/libssh2/missing -text
src/libssh2/src/Makefile.am -text
src/libssh2/src/Makefile.in -text
src/libssh2/src/NMakefile -text
src/libssh2/src/alloca.h -text
src/libssh2/src/channel.c -text
src/libssh2/src/channel.h -text
src/libssh2/src/comp.c -text
src/libssh2/src/comp.h -text
src/libssh2/src/crypt.c -text
src/libssh2/src/gettimeofday.c -text
src/libssh2/src/hostkey.c -text
src/libssh2/src/info.c -text
src/libssh2/src/kex.c -text
src/libssh2/src/knownhost.c -text
src/libssh2/src/libgcrypt.c -text
src/libssh2/src/libgcrypt.h -text
src/libssh2/src/libssh2_config.h -text
src/libssh2/src/libssh2_config.h.in -text
src/libssh2/src/libssh2_priv.h -text
src/libssh2/src/mac.c -text
src/libssh2/src/mac.h -text
src/libssh2/src/misc.c -text
src/libssh2/src/misc.h -text
src/libssh2/src/mw_libssh2_config.h -text
src/libssh2/src/openssl.c -text
src/libssh2/src/openssl.h -text
src/libssh2/src/packet.c -text
src/libssh2/src/pem.c -text
src/libssh2/src/publickey.c -text
src/libssh2/src/scp.c -text
src/libssh2/src/session.c -text
src/libssh2/src/sftp.c -text
src/libssh2/src/src.pro -text
src/libssh2/src/stamp-h1 -text
src/libssh2/src/transport.c -text
src/libssh2/src/transport.h -text
src/libssh2/src/un_libssh2_config.h -text
src/libssh2/src/userauth.c -text
src/libssh2/src/version.c -text
src/libssh2/tests/Makefile.am -text
src/libssh2/tests/Makefile.in -text
src/libssh2/tests/etc/host -text
src/libssh2/tests/etc/host.pub -text
src/libssh2/tests/etc/sshd_config -text
src/libssh2/tests/etc/user -text
src/libssh2/tests/etc/user.pub -text
src/libssh2/tests/simple.c -text
src/libssh2/tests/ssh2.c -text
src/libssh2/tests/ssh2.sh -text
src/libssh2/tests/sshdwrap -text
src/libssh2/win32/.cvsignore -text
src/libssh2/win32/Makefile -text
src/libssh2/win32/Makefile.win32 -text
src/libssh2/win32/config.mk -text
src/libssh2/win32/libssh2.dsw -text
src/libssh2/win32/libssh2_config.h -text
src/libssh2/win32/libssh2_dll.dsp -text
src/libssh2/win32/libssh2_lib.dsp -text
src/libssh2/win32/rules.mk -text
src/libssh2/win32/test/CVS/Entries -text
src/libssh2/win32/test/CVS/Repository -text
src/libssh2/win32/test/CVS/Root -text
src/libssh2/win32/test/Makefile.win32 -text
src/libssh2/win32/tests.dsp -text
src/localdirfilemodel.cpp -text
src/localdirfilemodel.h -text
src/localdirorginalmodel.cpp -text
src/localdirorginalmodel.h -text
src/localdirsortfiltermodel.cpp -text
src/localdirsortfiltermodel.h -text
src/localview.cpp -text
src/localview.h -text
src/localview.ui -text
src/main.cpp -text
src/nscp/nscp.c -text
src/nscp/nscp.pro -text
src/nscp/nscp_o.c -text
src/nscp/nscp_o.h -text
src/nscp/nscp_p.c -text
src/nscp/nscp_p.h -text
src/nullfxp-version.h -text
src/nullfxp.cpp -text
src/nullfxp.h -text
src/nullfxp.ico -text
src/nullfxp.qrc -text
src/nullfxp.rc -text
src/nullfxp.ui -text
src/nullfxp_config.h -text
src/nullfxpext.cpp -text
src/plink/Makefile -text
src/plink/be_all_s.c -text
src/plink/be_none.c -text
src/plink/charset/README -text
src/plink/charset/charset.h -text
src/plink/charset/enum.c -text
src/plink/charset/fromucs.c -text
src/plink/charset/internal.h -text
src/plink/charset/localenc.c -text
src/plink/charset/macenc.c -text
src/plink/charset/mimeenc.c -text
src/plink/charset/sbcs.c -text
src/plink/charset/sbcs.dat -text
src/plink/charset/sbcsdat.c -text
src/plink/charset/sbcsgen.pl -text
src/plink/charset/slookup.c -text
src/plink/charset/toucs.c -text
src/plink/charset/utf8.c -text
src/plink/charset/xenc.c -text
src/plink/cmdgen.c -text
src/plink/cmdline.c -text
src/plink/cproxy.c -text
src/plink/int64.c -text
src/plink/int64.h -text
src/plink/ldisc.c -text
src/plink/ldisc.h -text
src/plink/logging.c -text
src/plink/manifest -text
src/plink/misc.c -text
src/plink/misc.h -text
src/plink/network.h -text
src/plink/pinger.c -text
src/plink/portfwd.c -text
src/plink/proxy.c -text
src/plink/proxy.h -text
src/plink/pscp.c -text
src/plink/psftp.h -text
src/plink/putty.h -text
src/plink/puttymem.h -text
src/plink/puttyps.h -text
src/plink/raw.c -text
src/plink/rlogin.c -text
src/plink/settings.c -text
src/plink/sftp.c -text
src/plink/sftp.h -text
src/plink/ssh.c -text
src/plink/ssh.h -text
src/plink/sshaes.c -text
src/plink/ssharcf.c -text
src/plink/sshblowf.c -text
src/plink/sshbn.c -text
src/plink/sshcrc.c -text
src/plink/sshcrcda.c -text
src/plink/sshdes.c -text
src/plink/sshdh.c -text
src/plink/sshdss.c -text
src/plink/sshmd5.c -text
src/plink/sshprime.c -text
src/plink/sshpubk.c -text
src/plink/sshrand.c -text
src/plink/sshrsa.c -text
src/plink/sshsh256.c -text
src/plink/sshsh512.c -text
src/plink/sshsha.c -text
src/plink/sshzlib.c -text
src/plink/storage.h -text
src/plink/telnet.c -text
src/plink/terminal.h -text
src/plink/time.c -text
src/plink/timing.c -text
src/plink/tree234.c -text
src/plink/tree234.h -text
src/plink/unix/configure -text
src/plink/unix/install-sh -text
src/plink/unix/unix.h -text
src/plink/unix/ux_x11.c -text
src/plink/unix/uxagentc.c -text
src/plink/unix/uxconfig.h -text
src/plink/unix/uxconfig.in -text
src/plink/unix/uxcons.c -text
src/plink/unix/uxmisc.c -text
src/plink/unix/uxnet.c -text
src/plink/unix/uxnoise.c -text
src/plink/unix/uxplink.c -text
src/plink/unix/uxproxy.c -text
src/plink/unix/uxsel.c -text
src/plink/unix/uxser.c -text
src/plink/unix/uxsftp.c -text
src/plink/unix/uxsignal.c -text
src/plink/unix/uxstore.c -text
src/plink/version.c -text
src/plink/version.def -text
src/plink/wildcard.c -text
src/plink/x11fwd.c -text
src/progressdialog.cpp -text
src/progressdialog.h -text
src/progressdialog.ui -text
src/remotedirmodel.cpp -text
src/remotedirmodel.h -text
src/remotedirretrivethread.cpp -text
src/remotedirretrivethread.h -text
src/remotedirsortfiltermodel.cpp -text
src/remotedirsortfiltermodel.h -text
src/remotedirtreeview.cpp -text
src/remotedirtreeview.h -text
src/remotehostconnectingstatusdialog.cpp -text
src/remotehostconnectingstatusdialog.h -text
src/remotehostconnectingstatusdialog.ui -text
src/remotehostconnectthread.cpp -text
src/remotehostconnectthread.h -text
src/remotehostquickconnectfinfodailog.ui -text
src/remotehostquickconnectinfodialog.cpp -text
src/remotehostquickconnectinfodialog.h -text
src/remoteview.cpp -text
src/remoteview.h -text
src/remoteview.ui -text
src/remoteviewdirtableview.cpp -text
src/remoteviewdirtableview.h -text
src/rfsdirnode.cpp -text
src/rfsdirnode.h -text
src/sessiondialog.cpp -text
src/sessiondialog.h -text
src/sftp.h -text
src/sftpfile.cpp -text
src/sftpfile.h -text
src/src.pro -text
src/sshfileinfo.cpp -text
src/sshfileinfo.h -text
src/syncdiffermodel.cpp -text
src/syncdiffermodel.h -text
src/synchronizeoptiondialog.cpp -text
src/synchronizeoptiondialog.h -text
src/synchronizeoptiondialog.ui -text
src/synchronizewindow.cpp -text
src/synchronizewindow.h -text
src/synchronizewindow.ui -text
src/synctransferthread.cpp -text
src/synctransferthread.h -text
src/taskpackage.cpp -text
src/taskpackage.h -text
src/tmpmain.cpp -text
src/transferthread.cpp -text
src/transferthread.h -text
src/ui/encryptiondetaildialog.ui -text
src/ui/fileexistaskdialog.ui -text
src/ui/hostlistdialog.ui -text
src/unitest/CMakeLists.txt -text
src/unitest/testmain.cpp -text
src/unitest/testnullfxp.cpp -text
src/unitest/testnullfxp.h -text
src/unitest/unitest.ico -text
src/unitest/unitest.pro -text
src/unitest/unitest.rc -text
src/utils.cpp -text
src/utils.h -text
